PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=1iyWS9E6EKXPA-Hf7VSNoEaffmyX1eQ4
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
SES_ACCESS_KEY=<aws-access-key>
SES_ACCESS_SECRET=<aws-secret>
SES_REGION=us-east-1
MAILGUN_API_KEY=<mailgun-api-key>
MAILGUN_DOMAIN=<your-domain>
SPARKPOST_API_KEY=<sparkpost-api-key>
CACHE_VIEWS=false
